// make sure container is a grid or make flex work
.container {
  height: 100%;
  background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.title {
  color: white;
  margin: 0;
  padding: 50px 20px;
}

.label-group {

}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// GRID
.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto auto auto;
}

// LABEL-GROUP
.grid.label-group {
  grid-template-columns: 16em auto 16em auto;
  justify-content: center;
  grid-gap: 1em;
}

.label-group nb-icon {
  height: 3em;
  width: 3em;
  justify-self: center;
}


#quantity {
  justify-self: end;
}

.grid-item {
}

.answer {
  //grid-row-start: 2;
  align-self: center;
  justify-self: center;
}

.answer h3 {
  color: whitesmoke;
}
.button-div nb-icon {
  border: solid 1px green;
}

.button-div nb-icon:hover {
  background-color: #333;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



